extends ./../adminLayout.pug

block content
    .card
        .card-header
            | Add a article
        .card-body
            form(method="POST" action="/articles")
                .form-group
                    label(for='exampleInputPassword1') Name
                    input#exampleInputPassword1.form-control(type='text' name="name" placeholder='Name')
                .form-group
                    label(for='exampleInputPassword1') Price
                    input#exampleInputPassword1.form-control(type='text' name="price" placeholder='Price')
                button.btn.btn-primary(type='submit') Ajouter