extends ./../adminLayout.pug
block content
    .card
        .card-header
            | list of articles
        .card-body
            table.table
                thead
                    tr
                    th(scope='col') Name
                    th(scope='col') Price
                    th(scope='col') Action
                    th(scope='col') Action
                tbody
                    each article in articles
                        tr
                        td=article.name
                        td=article.price
                        td
                            button.btn.btn-primary(type='button' onclick=`window.location.href='http://localhost:3000/articles/${article.articleId}/modify'`) Modifier
                        td
                            form(method="POST", action=`/articles/${article.articleId}?_method=DELETE`)
                                button.btn.btn-danger(type='submit') Supprimer