extends ./../adminLayout.pug

block content
    .card
        .card-header
            | Modify a article
        .card-body
            form(method="POST" action=`/articles/${articles.articleId}?_method=PUT`)
                .form-group
                    label(for='exampleInputPassword1') Name
                    input#exampleInputPassword1.form-control(type='text' name="name" placeholder=`${articles.name}`)
                .form-group
                    label(for='exampleInputPassword1') Price
                    input#exampleInputPassword1.form-control(type='text' name="price" placeholder=`${articles.price}`)
                button.btn.btn-primary(type='submit') Modifier