extends ./../adminLayout.pug

block content
    .card
        .card-header
            | Add a user
        .card-body
            form(method="POST" action="/users")
                .form-group
                    label(for='exampleInputPassword1') Lastname
                    input#exampleInputPassword1.form-control(type='text' name="last_name" placeholder='Firstname')
                .form-group
                    label(for='exampleInputPassword1') Firstname
                    input#exampleInputPassword1.form-control(type='text' name="first_name" placeholder='Lastname')
                .form-group
                    label(for='exampleInputPassword1') Budget
                    input#exampleInputPassword1.form-control(type='text' name="budget" placeholder='Budget')
                button.btn.btn-primary(type='submit') Ajouter
