extends ./../adminLayout.pug

block content
    .card
        .card-header
            | Add an article into the Inventory
        .card-body
            form(method="POST" action="/articles_inventory")
                .form-group
                    label(for='exampleInputPassword1') Quantity
                    input#exampleInputPassword1.form-control(type='text' name="quantity" placeholder='Quantity')
                .form-group
                    label(for='exampleInputPassword1') ID of the article
                    input#exampleInputPassword1.form-control(type='text' name="articleId" placeholder='ArticleId')
                .form-group
                    label(for='exampleInputPassword1') ID of the inventory
                    input#exampleInputPassword1.form-control(type='text' name="inventoryId" placeholder='InventoryId')
                button.btn.btn-primary(type='submit') Ajouter